@import "tailwindcss";

@font-face {
  font-family: "Righteous";
  src: url("../public/assets/fonts/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #002e2e;
  overflow-x: hidden;
  font-family: "Righteous", Tahoma, Geneva, Verdana, sans-serif;
}
